*.o
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
compile

.suo
*.log
*.pdb
*.tlog
*.obj
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
CMakeFiles/
*.lib
*.exe
*.VC.db
*.sln
*.ilk
/*.cmake 
/*.opendb
